.aboutContent{
  display: flex;
  flex-direction: row;
  gap:10px;
  align-items: center;
}

.aboutLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .aboutLinksContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }
}

.aboutLinksContainer a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 600;
}

.miniProjectsSection{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-items: space-between;
  align-items: center;
}
