.title-icons {
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media (max-width: 768px) {
  .title-icons {
    flex-direction: column;
    justify-content: flex-start;
  }
  .icons {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
  }
}

.screenshots-container {
  border:1px solid black;
  border-radius:10px;
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding: 1rem;
}
@media (max-width: 480px) {
  .screenshots-container {
    padding: 1rem;
    margin: 0px;
  }
}
.screenshots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  background-color: var(--primary-color);
  padding:1rem;
}

@media (max-width: 480px) {
  .screenshots {
    flex-direction: column;
    justify-content: center;
  }
}


.screenshot img {
  max-height: 80vh;
  object-position: center;
}

.project {
  margin-bottom: 200px;
}
