
  
.navbar {
  position:fixed;
  padding: 1rem;
  background-color: var(--primary-color);
  height: 100vh;
}

@media (max-width: 1000px) {
  .navbar{
    width: 100%; 
    height:1rem;
  }

}

.side-header {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .side-header {
    flex-direction: row;
  }

}

  
.side-header-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
  margin: auto;
  align-items: center;
  height: 50%; 
}

@media screen and (max-width: 1000px) {
  .side-header-links {
    display: none;
    flex-direction: row;
    gap: 1rem;
    margin: 0px;
    align-items: center;
  }
}
  
.portrait img {
  display: block;
  max-width: 14vw;
  max-height: 14vw;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--border-color);
    margin: auto;
    margin-bottom: 4vw;
  margin-top: 4vw;
  align-self: center;

}

#hamburger-icon {
  display:none;
}

.side-header-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem; /* scales with the viewport width */
  font-weight: bold;
  letter-spacing: 0.3vw; /* scales with the viewport width */
}



  .side-header-links a:hover {
    color: white;
    font-weight: bold;
    letter-spacing: 0.25rem;
    cursor: pointer;
  }
  

  .side-header-links a.active {
    color: white;
    font-weight: bold;
  }

/* Sidebar */
/* The side navigation menu */
.mobile-nav {
  display:none;
  height: 100%; /* 100% Full-height */
  width: 0; /* this is controlled within the component */
  position: fixed; /* stay in place */
  z-index: 1; /* stay on top */
  top: 0; 
  left: 0;
  background-color: rgba(2, 2, 2);
  overflow-x: hidden; 
  transition: 0.2s; 
}

/* The navigation menu links */
.mobile-nav a{
  text-decoration: none;
  transition: 0.3s;
}

.mobile-nav h3 {
  display: block;
  padding: 1rem;
  font-weight: 100;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  letter-spacing: 1vw; /* Adjust the value as needed */
  color: white;
  margin-left:1rem;
}

/* When you mouse over the navigation links, change their color */
.mobile-nav h3:hover {
  color: var(--accent-color);
}

/* Style the hamburger icon */
@media screen and (max-width: 1000px) {
  .portrait img{
    display: none;
  }
  #hamburger-icon{
    display: block;
  }
  .mobile-nav{
    display:flex;
    flex-direction: column;
  }

}