
  
  .navbar {
    position:fixed;
    padding: 4vw;
    padding-top:20px;
    background-color: var(--primary-color);
    height: 100vh;
    width: 10vw;
  }

@media (max-width: 1000px) {
  .navbar{
    width: 100%; 
    height:1rem;
  }

}

  .side-header {
    display: flex;
    flex-direction: column;
  }
  
@media screen and (max-width: 1000px) {
  .side-header {
    flex-direction: row;
  }

}

  
  .side-header-links {
    display: flex;
    flex-direction: column;
    gap: 4vh; /* adjust the gap according to your needs */
    margin: auto;
    align-items: center;
    height: 50vh; /* adjust the height according to your needs */
  }

@media screen and (max-width: 1000px) {
  .side-header-links {
    display: none;
    flex-direction: row;
    gap: 20px;
    margin: 0px;
    align-items: center;
  }
}
  
.portrait img {
  display: block;
  max-width: 14vw;
  max-height: 14vw;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--border-color);
    margin: auto;
    margin-bottom: 4vw;
  margin-top: 4vw;
  align-self: center;

}

#hamburger-icon {
  display:none;
}

.side-header-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5vw; /* scales with the viewport width */
  font-weight: bold;
  letter-spacing: 0.3vw; /* scales with the viewport width */
}



  .side-header-links a:hover {
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
    cursor: pointer;
  }
  

  .side-header-links a.active {
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
  }

/* Sidebar */
/* The side navigation menu */
.mobile-nav {
  display:none;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(2, 2, 2);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.mobile-nav a{
  text-decoration: none;
  transition: 0.3s;
}
.mobile-nav h3 {
  display: block;
  padding: 8px 8px 8px 32px;
  font-weight: 100;
  font-size: clamp(2rem, 2.5vw, 2rem);
  letter-spacing: 1vw; /* Adjust the value as needed */
  color: white;
}

/* When you mouse over the navigation links, change their color */
.mobile-nav h3:hover {
  color: var(--accent-color);
}

/* Position and style the close button (top right corner) */
.mobile-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the hamburger icon */
@media screen and (max-width: 1000px) {
  .portrait img{
    display: none;
  }
  #hamburger-icon{
    display: block;
  }
  .mobile-nav{
    display:flex;
    flex-direction: column;
  }

}