.screenshotsContainer {
  position: relative;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  background-color: black;
  padding: 1rem;
  border-radius: 0.75rem;
}

@media screen and (max-width: 768px) {
  .screenshotsContainer {
    height: 100%;
    min-height: 60vh;
    padding: 0;
  }
}

.slideshow {
  position: relative;
  display: block;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden; /* hide overflowing slides */
  border-radius: 0.75rem;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.slide {
  border-radius: 0.75rem;

  min-width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.75rem;
}

.buttonsContainer {
  border-radius: 0.75rem;

  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: black;
  gap: 1rem;
}
.slideshowNextButton {
  width: 100%;
  right: 0;
  height: 5%;
  background-color: black;
  color: white;
  cursor: pointer;
  opacity: 0.8;
  font-size: 2rem;
  z-index: 2;
  border: none;
}

.slideshowPrevButton {
  width: 100%;
  height: 5%;
  left: 0;
  background-color: black;
  opacity: 0.8;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  z-index: 2;
  border: none;
}

.slideshowPrevButton:hover {
  background-color: var(--secondary-color);
}

.slideshowNextButton:hover {
  background-color: var(--secondary-color);
}

.slideshowNextButton {
  font-size: 2rem;
}

.slideshowNextButton h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: white;
}

.slideshowPrevButton h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: white;
}
