:root {
  --primary-color: #2C3E50; 
  --secondary-color: #9f9f9f; 
  --accent-color: #4c5156; 
  --border-color: #454e57; 
  --text-color: #868E96;
  --subtitle-color: #50502c;
}


.page-body{
  display: flex;
  flex-direction: row;

}

.content-container{
  display: flex;
  flex-direction: column;
  padding:100px;
  max-width: 50%;
}

p{
  color: var(--text-color);
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
}

h1{
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: var(--accent-color);
}

h3{
  color: var(--subtitle-color);
}