@import 'tailwindcss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .bubble {
    /* Layout */
    @apply flex items-center justify-center p-8;

    /* Borders */
    @apply border-2 border-black rounded-lg;

    /* Container coloring */
    @apply bg-gradient-to-r from-[#091a0619] to-[#88866e00];
  }
}
